@{
    ViewData["Title"] = "Admin - Aggiungi Articolo";
    Layout = "_LayoutAdmin"; //il layout è quello dell'utente (va bene)
}

<div class="macro-section">
    <div class="container">
        <div class="page-split">

            <!-- SINISTRA (da togliere e centrare)-->
            <div class="left-col">

                <!-- BOTTONE BACK (fare un pulsante per annulare l'operazione-->
                <button class="btn btn-primary">
                    ANNULLA
                </button>

                <div class="article-split">
                    <div class="article-left">
                        <!-- foto articolo -->
                        <button class="btn btn-primary">
                            AGGIUNGI FOTO
                        </button>
                    </div>

                    <!--da sostiuire con bottoni per aggiungere tutti gli elementi + aggiungere categoria-->
                    <div class="article-right">
                        <div class="article-right-content">
                            <!-- nome articolo (h1) -->
                            <button class="btn btn-primary">
                                AGGIUNGI NOME
                            </button>
                            <!-- desccrizione articolo (<p class="descrizione">) -->
                            <button class="btn btn-primary">
                                AGGIUNGI DESCRIZIONE
                            </button>
                            <div class="article-divider"></div>
                            <!-- prezzo articolo (<p class="prezzo">) -->
                            <button class="btn btn-primary">
                                AGGIUNGI PREZZO
                            </button>
                            <div class="article-divider"></div>
                        </div>

                        <!--bottone per completamento operazione-->
                        <button class="add-btn">Fine</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--da modificare-->
@section Styles {
    <link rel="stylesheet" href="/cssAdmin/ModificaArticolo.css"/>
}