@{
    ViewData["Title"] = "Articoli"; 
}

// ???? how tf does this work
// PROVE ; da fare: rendere orizzontale il tutto per le categorie 
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LoginAdmin">Home</a>
    </li>
</ul>
</div>

<div class="macro-section">
    <div class="container">
        <div class="macro-grid">
        </div>
    </div>
</div>

<!-- CARRELLO -->
<a href="#" class="cart-fab" title="Carrello">
    🛒
    <span class="cart-badge">0</span>
</a>