<!-- permetto l'utilizzo della classe GestioneDati -->
@inject GestioneDati _gestione

@{
    ViewData["Title"] = "Articoli";
    Layout = "_Layout";

    <!-- prendo tutte le categorie per visualizzarle nella tab bar -->
    var categorie = _gestione.GetCategorie();
}
<!-- Contenuto della sezione NavbarLinks per questa vista specifica -->

@section NavbarLinks {
    <!-- LA TAB BAR -->
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav flex-row gap-3">
            <!-- tab item per ciascuna categoria -->
            @foreach (var cat in categorie)
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Articoli" asp-route-categoria="@cat.Nome">@cat.Nome</a>
                </li>
            }
        </ul>
    </div>
}

<!-- TUTTI GLI ARTICOLI -->
<div class="macro-section">
    <div class="container">
        <div class="macro-grid">
            @foreach (var articolo in Model)
            {
                <p> @articolo.Nome - @articolo.Prezzo.ToString("F2") </p>
            }
        </div>
    </div>
</div>

<!-- CARRELLO -->
<a href="#" class="cart-fab" title="Carrello">
    🛒
    <span class="cart-badge">0</span>
</a>

@section Styles {
    <link rel="stylesheet" href="/css/Articoli.css"/>
}