@using Deliveroo.Tabelle
@{
    ViewData["Title"] = "Articoli";
    Layout = "_Layout";
    Articolo art = Model;
}

<div class="macro-section">
    <div class="container">
        <div class="page-split">

            <!-- SINISTRA -->

                @section AboveNavbar {
                <div class="total-overlay">
                    <!-- NUMERO TOTALE + PREZZO TOTALE -->
                </div>
                }
            </div>

            <!-- DESTRA (raccomandazioni future) -->
            <div class="right-col"></div>

        </div>
    </div>


<!-- BOTTONE PROCEDI -->
<a>
</a>

@section Styles {
    <link rel="stylesheet" href="/css/Carrello.css"/>
}