@{
    ViewData["Title"] = "Admin Dashboard"; 
}

<div class="macro-section">
    <div class="container">
        <h1>Tabelle</h1>
        <h2>grafici</h2>
        <h3>griud</h3>
        <h4>pulsanti</h4>
        <h5>ecc</h5>
        <h6>ecc</h6>
    </div>
</div>