<!--PAGINA DEL LOGIN PER ENTRARE SU ADMIN-->

@{
    //titolo della pagina
    ViewData["Title"] = "Login";
    
    @model Deliveroo.Tabelle.Utente;

}

<h1>@ViewData["Title"] </h1>

<div class="text-center"><!--per centrare il testo-->
    
    <form method="post"
          asp-controller="Home"
          asp-action="LoginAdmin">
        
        <p class="testo-rosso">@ViewData["errore"]</p>
        
        <div class="mt-2"><!--mt-=margine top(pargine superiore)di 2-->
            <!--from-group -->
            <label asp-for="Username">Username</label><!--per i computer per i ceci che parlano,perche leggono ad alta voce-->
            <input asp-for="Username" class="form-control" /><!--se voglio che il nome sia obbligatorio-->
        </div>
        <div class="mt-2" style="margin-bottom: 10px;"><!--mt-=margine top(margine superiore)di 2-->
            <!--from-group -->
            <label asp-for="Password">Password</label><!--per i computer per i ceci che parlano,perche leggono ad alta voce-->
            <input type="password" asp-for="Password" class="form-control"/><!--il type"password" mi fa venire i pallini quando inserisco lettere-->
        </div>
        <p>
            <button type="submit" class="btn btn-primary">Entra</button>
        </p>
    </form> 
</div>