@model List<Deliveroo.Tabelle.Articolo>
@{
    ViewData["Title"] = "Articoli";
    Layout = "_Layout";
}

<div class="macro-section">
    
    <!-- BOTTONE BACK -->
    <a class="nav-arrow back-btn" href="@ViewBag.BackUrl">↵</a>
    
    <div class="container">

    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="/css/Carrello.css"/>
}