@{
    ViewData["Title"] = "Admin - Aggiungi Articolo";
    Layout = "_LayoutAdmin"; //il layout è quello dell'utente (va bene)

    @model List<Categoria>
}

<div class="macro-section">
    <div class="container">
        <div class="page-split">
            
            <!-- BOTTONE BACK -->
            <a class="nav-arrow back-btn"
               asp-action="IndexAdmin" asp-controller="Admin">
                ↵
            </a>

            <!-- SINISTRA (da togliere e centrare)-->
            <div class="left-col">

                <!-- BOTTONE BACK (fare un pulsante per annullare l'operazione-->
                <a asp-action="IndexAdmin" asp-controller="Admin" class="btn btn-primary">ANNULLA</a>

                <form method="post"
                      asp-action="AggiungiNuovoArticolo"
                      enctype="multipart/form-data">
                    <div class="article-split">
                        <div class="article-left">
                            <!-- INPUT PATH per FOTO -->
                            <h3>FOTO</h3>
                            <input type="file"
                                   id="UrlFoto"
                                   name="UrlFoto"
                                   required>
                        </div>

                        <!--da sostituire con bottoni per aggiungere tutti gli elementi + aggiungere categoria-->
                        <div class="article-right">
                            <div class="article-right-content">
                                <!-- nome articolo (h1) -->
                                <!--INPUT NOME-->
                                <h3>NOME</h3>
                                <input type="text"
                                       id="nome"
                                       name="nome"
                                       required>

                                <!-- descrizione articolo (<p class="descrizione">) -->
                                <!--INPUT DESCRIZIONE-->
                                <h3>DESCRIZIONE</h3>
                                <textarea name="descrizione" id="descrizione"
                                          style="width:200px; overflow:hidden; resize:none;" required></textarea>

                                <div class="article-divider"></div>

                                <!-- prezzo articolo (<p class="prezzo">) -->
                                <!--INPUT PREZZO-->
                                <h3>PREZZO</h3>
                                <input type="number"
                                       id="prezzo"
                                       name="prezzo"
                                       step="0.01"
                                       min="0"
                                       required>

                                <div class="article-divider"></div>

                                <!--INPUT CATEGORIA-->
                                <h3>CATEGORIA</h3>
                                <select name="idcategoria"
                                        id="idcategoria"
                                        required>
                                    <option value=""></option>
                                    @foreach (var c in Model)
                                    {
                                        <option value="@c.IdCategoria">@c.Nome</option>
                                    }
                                </select>
                            </div>
                            <input type="submit"
                                   value="FINE"
                                   class="add-btn"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--da modificare-->

@section Styles {
    <link rel="stylesheet" href="/cssAdmin/AggiungiArticolo.css"/>
}
@section Scripts
{
    <!--script per adattare la larghezza della <textarea> dells descrizione-->
    <script>
        const ta = document.getElementById("descrizione");
        ta.style.height = ta.scrollHeight + "px";
        ta.addEventListener("input", () => {
            ta.style.height = "auto";
            ta.style.height = ta.scrollHeight + "px";
        });
    </script>
}