@{
    ViewData["Title"] = "Admin - Categorie";
    ViewData["HideSearchUser"] = true;
    Layout = "_LayoutAdmin";
}

@section NavbarLinks {
    
}

<h1 class="idx-title">SELEZIONA CATEGORIA DELL'ARTICOLO DA CAMBIARE</h1>

<!-- Macro-section e Container sono puramente di grafica, invece macro-grid suddivide le categorie in 5 per fila 
Il numero per fila può essere modificato all'interno dell site.css nell'apposita classe -->
<div class="macro-section">
    <div class="container">

        <div class="idx-section">
            <div class="idx-grid">
                @foreach (var categoria in Model)
                {
                    <a asp-controller="ArticoliAdmin"
                       asp-action="ArticoliAdmin"
                       asp-route-idCategoria="@categoria.IdCategoria"
                       class="idx-card">

                        <!-- FOTO -->
                        <div class="idx-img-wrap">
                            <img src="@categoria.ImageUrl"
                                 alt="@categoria.Nome"
                                 class="idx-img"
                                 loading="lazy" />
                            <div class="idx-img-overlay"></div>
                        </div>

                        <!-- NOME + BARRA -->
                        <div class="idx-info">
                            <span class="idx-name">@categoria.Nome</span>
                            <div class="idx-bar">
                                <div class="idx-bar-fill"></div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>

<!-- CSS specifico per questa vista, caricato solo qui e non nelle altre pagine -->

@section Styles {
    <link rel="stylesheet" href="/cssAdmin/Categorie.css"/>
}
