<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Deliveroo Admin Dashboard</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Deliveroo.styles.css" asp-append-version="true"/>

    <!--libreria data table-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"/>
    
    @await RenderSectionAsync("Styles",required:false)
</head>
<body>

<!-- ___________ SIDEBAR ___________-->
<!-- Burger Button -->
<button class="burger-btn" onclick="toggleSidebar()">&#9776;</button>

<!-- Sidebar Overlay -->
<div class="sidebar-overlay" onclick="toggleSidebar()"></div>

<!-- Sidebar -->
<div class="sidebar">
    <nav>
        <a asp-controller="Home" asp-action="IndexAdmin">Admin Dashboard </a>
        <a asp-controller="Home" asp-action="Privacy">Privacy</a>

        <a asp-controller="Home" asp-action="Logout" class="sidebar-logout">Esci</a>
    </nav>
</div>


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container justify-content-center">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="IndexAdmin">
                <h2 class="section-title">
                    Deliveroo
                    <small class="text-muted">admin dashboard</small>
                </h2>
            </a>
        </div>
    </nav>
</header>


<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2026 - Deliveroo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<!--SCRIPT per DATA TABLE-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<!--SCRIPT per i GRAFICI-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

@await RenderSectionAsync("Scripts", required: false)

<!-- ___________ SCRIPT per il funzionamento della SIDEBAR ___________-->
<script>
    function toggleSidebar() {
        document.querySelector('.sidebar').classList.toggle('open');
        document.querySelector('.sidebar-overlay').classList.toggle('active');
    }
</script>
</body>
</html>