<!--PAGINA DEL LOGIN PER ENTRARE SU ADMIN-->

@{
    //titolo della pagina
    ViewData["Title"] = "Login";
    @model Deliveroo.Tabelle.Utente;

}

<h1>@ViewData["Title"] </h1>

<div class="text-center"><!--per centrare il testo-->
    
    <!-- BOTTONE BACK -->
    <a class="nav-arrow back-btn"
       asp-action="Index" asp-controller="Home">
        ↵
    </a>
    
    <form method="post"
          asp-controller="Auth"
          asp-action="LoginUtente">

        <p class="testo-rosso">@ViewData["errore"]</p>

        <div class="mt-2">
            <label>Username</label>
            <input name="username" class="form-control" />
        </div>

        <div class="mt-2" style="margin-bottom: 10px;">
            <label>Password</label>
            <input type="password" name="password" class="form-control" />
        </div>

        <p>
            <button type="submit" class="btn btn-primary">Entra</button>
        </p>
    </form>
</div>

@section Styles
{
    <link rel="stylesheet" href="/cssAdmin/Login.css" />
}
